.container{
      display: flex;
      margin:100px;
  }

section h1{
    font-size: 50px;
    line-height: 25px;
    text-decoration: none;
}

section p{
    text-align: left;
    font-size: 15px;
}
.heading{
    color: orange;
    font-size: 50px;
    
}

.lgButton{
    background: linear-gradient(135deg, orange 60%, cyan);
    padding: 15px 20px;
    border-radius: 5px;
    border:none;
}

.lgheader{
    border-left: 5px solid;
    border-image: linear-gradient(purple, orange);
    border-image-slice: 1;
    padding-left: 20px;
}

.half-width{
    width: 50%;
    padding: 2%;
    
}

.img-bannar{
    height: 100%;
    width: 100%;
    margin-top: -47px;
}

.mission{
    display: flex;
}

#headstyle{
    text-align: center;
    font-size: 40px;
}

.orange{
color: orange;
}



.mission22{
    background-color: paleturquoise;
    width: 300px;
    height: 200px;
    border: 0px solid green;
    padding: 80px;
    margin: 20px;
    border-radius: 10px;
  }

  .vission{
    background-color: rgb(178, 212, 191);
    width: 300px;
    height: 200px;
    border: 0px solid green;
    padding: 80px;
    margin: 20px;
    border-radius: 10px;
  }
  .Goals{
    background-color: rgb(201, 152, 130);
    width: 300px;
    height: 200px;
    border: 0px solid green;
    padding: 80px;
    margin: 20px;
    border-radius: 10px;
  }

.target{
    display: flex;
    justify-content:center
}

.illastrate{
    height: 100px;
    width: 80px;
}

.boxheading{
    font-size: 20px;
    font-weight: bold;
}

.coding{
    display: flex;
    justify-content: center;

}

.coding img{
    height: 400px;
    width: 400px;
    
}

#codeheading{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    
}



.codealign{
    text-align: left;
    margin-left: 20px;
}